# 忽略的文件
/0.获奖证明和照片/
/0.秋招提前批/
/0.知识图谱/
/1.简历/
/2.面试试题汇总/
/3.其他人发的资料/
/4.参考PDF书籍/
/5.项目文档/
/6.算法笔试题/
/7.实习/
/idea构建mybatis.assets/
/offer/
/笔试-编程题/
/爬虫项目/
/本科成绩 1309030427.pdf
/何世亮-15527369928.pdf
/本科成绩 1309030427.jpg
/面经-*.md